/* Projects */
.projects-container {
  padding: 110px 0 20px 0;
  width: 600px;
  max-width: 80vw;
  margin: 0 auto 0 auto;
}

.title {
  color: rgb(38, 119, 180);
  font-size: 35px;
  text-align: center;
}

.project {
  padding: 10px 0;
  border-radius: 2px;
  margin: 20px 0 20px 0;
}
.project h3 {
  font-size: 1.4em;
  margin: 5px 0 10px;
}
.project-image {
  text-align: center;
  margin: 10px 0 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.project-image img {
  width: 100%;
  border-radius: 2px;
  margin-top: 5px;
}
.project-text p {
  margin-bottom: 10px;
}
.project-button {
  border-radius: 2px;
  padding: 10px 20px;
  display: inline-block;
  margin: 0px 10px 5px 0px;
  color: rgb(44, 44, 44);
  font-size: 0.8em;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.project-button:hover {
  background: #313131;
  color: white;
}
.dark .project-button:hover {
  background-color: rgb(199, 199, 199);
  color: black;
}
.project-tags {
  margin-bottom: 5px;
}
.tag {
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 0.8em;
  display: inline-block;
  margin: 0px 10px 5px 0px;
  border: 1px solid black;
}
.tag-html {
  border-color: #E54D26;
  color: black;
}
.tag-css {
  border-color: #0070BA;
  color: black;
}
.tag-bootstrap {
  border-color: #824ECF;
  color: #824ECF;
}
.tag-js {
  border-color: #F5E01F;
  color: black;
}
.tag-reactjs {
  border-color: #61DAFB;
  color: black;
}
.tag-nodejs {
  border-color: #90C53F;
  color: #90C53F;
}
.tag-winforms {
  border-color: grey;
  color: grey;
}
.tag-csharp {
  border-color: #7A3396;
  color: #7A3396;
}
.tag-sharppcap {
  border-color: rgb(56, 56, 56);
  color: rgb(56, 56, 56);
}
.tag-semanticui {
  border-color: #35BDB2;
  color: #35BDB2;
}
.tag-electron {
  border-color: #437C86;
  color: #437C86;
}
.tag-discordjs {
  border-color: #8C9EFF;
  color: #8C9EFF;
}
.tag-json {
  border-color: black;
  color: black;
}
.tag-mysql {
  border-color: #00618A;
  color: #00618A;
}
.tag-php {
  border-color: #777BB3;
  color: #777BB3;
}
.tag-scss {
  border-color: #CF649A;
  color: #CF649A;
}
.tag-vue {
  border-color: #42B783;
  color: #42B783;
}
.tag-firebase {
  border-color: #FFCA2C;
  color: black;
}
.tag-yelp {
  border-color: #D32323;
  color: #D32323;
}
.tag-algolia-places {
  border-color: #3A5395;
  color: #3A5395;
}
.tag-laravel {
  border-color: #E74430;
  color: #E74430;
}
.tag-wordpress {
  border-color: #1B749E;
  color: #1B749E;
}
.tag-asgard {
  border-color: #E89980;
  color: #E89980;
}
.tag-react {
  border-color: #61DAFB;
  color: #61DAFB;
}
.tag-ruby-on-rails {
  border-color: #CC0000;
  color: #CC0000;
}
.tag-sqlite {
  border-color: #044a64;
  color: #044a64;
}
.tag-netlify {
  border-color: orange;
  color:  black;
}

.tag-idb {
  border-color: #7A3396;
  color: black;
}

.tag-stencil {
  border-color: silver;
  color: black;
}

.tag-angular {
  border-color: #D32323;
  color: black;
}