<div class="projects-container">
  <h1 class="title">Projects</h1>

  <!-- Portfolio -->
  <div class="project">
    <div class="project-image">
      <img src="https://via.placeholder.com/1280x720" alt="Portfolio App" />
    </div>

    <div class="project-text">
      <h3>Portfolio App</h3>
      <p>
        This is a portfolio app built with Angular. It showcases my projects and
        skills. It also has a contact form to get in touch with me.
      </p>
    </div>

    <div class="project-tags">
      <div class="tag tag-angular">Angular</div>
      <div class="tag tag-css">CSS</div>
      <div class="tag tag-html">HTML5</div>
      <div class="tag tag-js">JS</div>
    </div>

    <div class="project-links">
      <a
        class="project-button"
        href="https://example.com"
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="fa fa-link"></span> View Website
      </a>
      <a
        class="project-button"
        href="https://github.com"
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="fab fa-github"></span> View Code
      </a>
    </div>

    <!-- Example Project 1 -->
    <div class="project">
      <div class="project-image">
        <!-- Placeholder -->
        <img src="https://via.placeholder.com/1280x720" alt="Project 1" />
      </div>

      <div class="project-text">
        <h3>Project 1</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus,
          nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat.
        </p>
      </div>

      <div class="project-tags">
        <div class="tag tag-html">HTML5</div>
        <div class="tag tag-css">CSS</div>
        <div class="tag tag-js">JS</div>
        <div class="tag tag-reactjs">React JS</div>
        <div class="tag tag-idb">IndexedDb</div>
        <div class="tag tag-netlify">Netlify</div>
      </div>

      <div class="project-links">
        <a
          class="project-button"
          href="https://example.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="fa fa-link"></span> View Website
        </a>
        <a
          class="project-button"
          href="https://github.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="fab fa-github"></span> View Code
        </a>
      </div>
    </div>

    <!-- Example Project 2 -->
    <div class="project">
      <div class="project-image">
        <!-- Placeholder -->
        <img src="https://via.placeholder.com/1280x720" alt="Project 2" />
      </div>

      <div class="project-text">
        <h3>Project 2</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus,
          nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat.
        </p>
      </div>

      <div class="project-tags">
        <div class="tag tag-html">HTML5</div>
        <div class="tag tag-css">CSS</div>
        <div class="tag tag-js">JS</div>
        <div class="tag tag-reactjs">React JS</div>
        <div class="tag tag-firebase">Firebase</div>
      </div>

      <div class="project-links">
        <a
          class="project-button"
          href="https://example.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="fa fa-link"></span> View Website
        </a>
        <a
          class="project-button"
          href="https://github.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="fab fa-github"></span> View Code
        </a>
      </div>
    </div>

    <!-- Example Project 3 -->
    <div class="project">
      <div class="project-image">
        <!-- Placeholder -->
        <img src="https://via.placeholder.com/1280x720" alt="Project 3" />
      </div>

      <div class="project-text">
        <h3>Project 3</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus,
          nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat.
        </p>
      </div>

      <div class="project-tags">
        <div class="tag tag-html">HTML5</div>
        <div class="tag tag-css">CSS</div>
        <div class="tag tag-js">JS</div>
        <div class="tag tag-reactjs">React JS</div>
        <div class="tag tag-firebase">Firebase</div>
      </div>

      <div class="project-links">
        <a
          class="project-button"
          href="https://example.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="fa fa-link"></span> View Website
        </a>
        <a
          class="project-button"
          href="https://github.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span class="fab fa-github"></span> View Code
        </a>
      </div>
    </div>
  </div>
</div>
