<div class="home-top-container">
  <div class="home-top-left">
    <picture class="home-top-left-image">
      <img src="assets/img/jpg/profile.jpg" alt="Joshua Torres" />
    </picture>
  </div>

  <div class="home-top-right">
    <h2>Joshua Torres</h2>
    <ul>
      <li>
        <div class="icon is-small"><i class="fa fa-user"></i></div>
        <span>Full-Stack Developer</span>
      </li>
      <li>
        <div class="icon is-small"><i class="fa fa-map-marker"></i></div>
        <span>San Antonio, TX</span>
      </li>
      <li>
        <div class="icon is-small"><i class="fa fa-graduation-cap"></i></div>
        <span>Computer Science</span>
      </li>
    </ul>
  </div>
</div>

<div class="home-bottom-text">
  <p>
    I'm Joshua. A software developer intent on developing the
    <a routerLink="../projects">sweetest projects</a> I can.
  </p>
  <br />
  <p>
    When I'm not coding, I'm probably
    <a routerLink="../education">learning</a> something new, in the gym, going
    for a run, or something else.
  </p>
  <div class="home-bottom-buttons">
    <a href="https://github.com/ducksoop" target="_blank" rel="noreferrer noopener">
      <div class="button github">
        <span class="icon is-small"><i class="fab fa-github"></i></span>
        Github
      </div>
    </a>
    <a href="https://www.linkedin.com/in/jtorresv/" target="_blank" rel="noreferrer noopener">
      <div class="button linkedin">
        <span class="icon is-small"><i class="fab fa-linkedin"></i></span>
        LinkedIn
      </div>
    </a>
    <a href="assets/cv/joshua_cv.pdf" target="_blank">
      <div class="button CV">
        <span class="icon is-small"
          ><i class="fa fa-arrow-circle-down"></i
        ></span>
        Download CV
      </div>
    </a>
  </div>
</div>
